/*everything on page*/
* {
  font-family: 'Istok Web', sans-serif;
}

/*Header should be top center*/
h1 {
  border: 1px solid black;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
  text-align: center;
}

/*Nav will be left fixed*/
nav {
  border: 1px solid blue;
  position: fixed;
  height: 100%;
  width: 180px;
  margin-top: -81px;
  margin-left: -9px;
  padding-left: 0px;
  background: blue;
  font-size: 20px;
}

nav > img {
  width: 180px;
  height: auto;
}

ul {
  margin-top: 10px;
  padding-left: 0px;
}

ul > li:first-of-type {
  font-weight: bolder;
}

nav > ul {
  list-style-type: none;
}

nav > ul > li {
  padding: 10px;
  border-style: ridge;
  border-width: 3px;
}

/*content should be this many pixel from left*/

section {
  border: 1px dashed green;
  margin-left: 180px;
  width: 600px;
  padding-left: 10px;
}

section > h3 {
  border: 1px dotted purple;
  font-weight: bolder;
}

article::first-letter {
  font-size: 20px;
  font-weight: bold;
}

article > p {
  border: 1px solid red;
  text-indent: 30px;
  word-spacing: 2px;
  line-height: 120%;
}